@import 'keyframes.css';

body {
	background: #f9f9f9 url('subtle_dots.png') repeat;
}

#one #logo-left{
	float: left;
	margin: 3.5% auto auto 4%;
	position: relative;
	width: 250px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #222;
	text-align: center;
	}

#one #logo-left-text{
	font-size: 1.2em;
	height: 60px;
	text-shadow: 2px 2px 1px rgba(0,0,0,.3);
}

#one #logo-left-bottom {
	padding-top: 10px;
	font-size: 0.9em;
}

#one {
	text-align: left;
	text-shadow: 0 1px 1px rgba(0,0,0,.25);
	-webkit-font-smoothing: antialiased;
}

a {
	border-bottom: 1px dotted black;
}
a, a:visited {
	text-decoration: none;
	color: #222;
	-moz-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
}

a:hover {
	background: black;
	color: white;
	-moz-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
}

#center {
	display: block;
	width: 60%;
	margin: 5% auto auto 1.7%;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1.1em;
	float: left;
	position: relative;
	padding-top: 15px;
	padding-left: 40px;
	border-left: 2px dashed black;
	-webkit-border-left: 2px dashed black;
	-moz-border-left: 2px dashed black;
	-o-border-left: 2px dashed black;
}

.typing {
    position: relative;
    display: inline-block;
    width: 8px;
    text-indent: -999em;
    background: #ccc;
    -webkit-animation: flick 1s infinite;
    -moz-animation: flick 1s infinite;
    -ms-animation: flick 1s infinite;
    -o-animation: flick 1s infinite;
    animation: flick 1s infinite;
  }

  #footer {
  	float: left;
  	margin: 50% auto auto 45%;
  	color: #878787;
  	position: absolute;
  	text-shadow: .5px 1px 1px;
  	font-size: 0.7em;
  }